<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <div id="app">
      <h3> {{message}} </h3>
    <form name="todo-form" method="post" action="" v-on:submit.prevent="addTask">
      <input name="add-todo" type="text" v-model="addTodoInput"/>
      <button type="submit">Add</button>
    </form>
    <h3>{{listTitle}}</h3>
    <li v-for="list in filterLists" :key="list.id">
       <input type="checkbox" v-on:change="completeTask(list)" v-bind:checked="list.isComplete"/>
      <span class="title"
            contenteditable="true"
            v-on:keydown.enter="updateTask($event, list)"
            v-on:blur="updateTask($event, list)"
            v-bind:class="{completed: list.isComplete}"> {{list.title}} </span>
       <span class="remove" v-on:click="removeTask(list)">x</span>
    </li>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
